<template name="layout">
	<div class="container">
		<ul class="nav nav-pills">
  			<li role="presentation">
  				<a href="{{pathFor 'home'}}">Home</a>
  			</li>
  			<li role="presentation">
  				<a href="/about">About</a>
  			</li>
 			 <li role="presentation">
 			 	<a href="/comments">Comments</a>
 			 </li>
			<li role="presentation">
 			 	<a href="/showRides">Available Carpooling Rides</a>
 			 </li>
 			 <li>
 			 	{{> loginButtons}}
 			 </li>
		</ul>
	{{> yield}}

	</div>
</template>