.css-settings-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #ffffff;
}
.css-settings {
  position: relative;
  width: 85%;
  height: 100%;
  float: right;
  color: #666666;
  /*background-color: purple;*/
}
.css-settings-wrap {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
  /*background-color: green;*/
}
.css-settings-wrap span {
  font-size: 28px;
  color: #fe5a5a;
}
.css-request {
  position: relative;
  margin-left: 20px;
}

/*reminder switch*/
.css-reminder-switch{
  /* The switch - the box around the slider */
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Hide default HTML checkbox */
.css-reminder-checkbox {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #fe5a5a;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}
.js-distance-select{
  width: 10%;
}
